<h1>Snake Game</h1>

<div id="grid" class="grid">
<% gridSize = 200 %>
<% gridSize.times do %>
  <% gridSize.times do %>
    <div class="cell"></div>
  <% end %>
<% end %>
</div>

<link rel="stylesheet" href="/assets/snake.css">

<script src="/assets/snake.js"></script>
